:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#cMain{
  width: 100%;
  height: 100%;
  position: absolute;
}

.layer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  pointer-events: none; 
  
}

#imgPavement{
  grid-column: 1 / span 100;
  grid-row: 46;

}

.imgRailing{
  grid-row: 38;
  height: 10rem;
  width: 100%;
  position: absolute;
}

.filterDarken70{
  filter: brightness(70%) !important;
}

#foggyBuilding1{
  filter: blur(1px);
  grid-row: 20;
  grid-column: 43;
  width: 8rem;
}

#sideMountain{
  filter: blur(1px);
  grid-row: 25;
  grid-column: 33;
}

.kontrolScaleBtn{
  
}





#kontrolBox{
  position: absolute;
  z-index: 999;
  background-color: rgba(170,170,170,0.7);
  border: 1px solid black;
  font-size: larger;
}
button {
  border: 1px solid black
}
#kontrolLightsUI{
  display: flex;
  flex-direction: column;
  columns: 20rem 2;
  flex-wrap: wrap;
  max-height: 70vh;
  max-width: 40vw;
  background-color: rgba(220,220,220,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 10px;
}
#lightSettingsColor{
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  margin: 0 3px;
}
#kontrolLightsChosen{
  border-right: 1px white solid;
  max-width: 20rem;
  overflow-y: scroll;
}
#kontrolLightsList{
  padding: 0;
}
#kontrolLightsListCont{
  width: 15rem;
  overflow-y: scroll;
}
.kontrolTab{
  display: none !important
}
