#cFrontCover{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

#threeLoadingScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gradientGeistBis); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 1.3s 0.5s ease-in-out;
}

#loadBarOuter{
    width: 20vw;
    max-width: 30%;
    min-width: 20%;
    height: 10px;
    max-height: 5%;
    border: 1px solid var(--colorBone);
}

#loadBarInner{
    width: 0%;
    height: 100%;
    background-color: var(--colorBone);
}   

#threeLoadingText{
    text-align: center;
    color: var(--colorBone);
    width: 30vw;
    font-family: var(--font-primary);
    font-size: var(--font-M2);
}

#threeIntroText{
    position: relative;
    grid-row: 3 / span 15;
    grid-column: 5 / span 12;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.9s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#threeIntroText>p{
    font-family: var(--font-primary);
    font-size: var(--font-logo);
    margin: 0;
}

#est-date{
    font-family: var(--font-signature);
    font-size: var(--font-title);
    line-height: 0%;
}

#pressToStart{
    position: absolute;
    bottom: 1vh;
    width: 100%;
    color: var(--colorBone);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: var(--font-M2);
    animation: pulseEffect 1.1s linear infinite;
}

#threeNavBar{
    width: 100%;
    grid-row: 1 / span 2;
    grid-column: 1 / span 20;
    display: flex;
    flex-direction: row;
    padding: 1vmin 0 0 1vmin;
    pointer-events: all;

}

#threeNavBar>button{
    
    background-color: var(--colorGreyGlass);
    backdrop-filter: blur(5px);
    height: 100%;
    max-height: 5vmin;
    aspect-ratio: 1 / 1;
    border-radius: 5rem;
    border: 0;
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    margin: 0.5vmin;
}

#threeEditorMode{
    background-image: url(../gallery/2dElems/iconAdmin.svg);
}

/* #threeSound{
    background-image: url(../gallery/2dElems/)
}
#threeSpeech{
    background-image: url(../gallery/2dElems/)
} */

#threeBloom{
    background-image: url(../gallery/3jsTextures/sprites/iconBloom.svg);
}
#threeBokeh{
    background-image: url(../gallery/3jsTextures/sprites/iconBokeh.svg);
}

#threePerfChecker{
    margin-left: 2vmin;
}

#threePerfChecker>p{
    font-family: var(--font-tertiary);
    margin: 0;
    padding: 0;
}

#ui2d{
    width: 100%;
    height: 100%;
    grid-column: 1 / span 100;
    grid-row: 7 / 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: pulseEffect 1.1s linear infinite; */
    transition: all 0.5s ease-in;
    font-family: var(--font-tertiary);
    font-size: var(--font-M2);
}

#ui2d>img{
    max-width: 30%;
    max-height: 30%;
    aspect-ratio: 1 / 1;
    animation: swingLeftRight 3s linear infinite;
}

@media screen and (max-width: 1200px) {
    #threeIntroText>p{
        font-size: var(--font-title);
    }
}

@media screen and (max-width: 1000px) {
    #threeIntroText>p{
        font-size: var(--font-M1);
    }
}