a{
    pointer-events: auto;
}
gras{
    font-weight:600;
}
p{
    margin: 0;
    gap: 0;
    font-size: var(--font-M2);
    font-family: var(--font-primary);
}
ul{
    margin: 0;
    padding-left: 0;
}
/* li{
    text-align: justify;
    text-align-last: justify;
} */


.pagination{
    background: linear-gradient(180deg, rgba(36,36,36,0.75968137254901966) 5%, rgba(0,0,0,0.9217436974789917) 70%) ;
    backdrop-filter: blur(2px);
    animation: none;
    opacity: 0;
    display: none;
}

.style-lineBase, .style-lineCross{
    pointer-events:none;
}

.hangingText{
    font-family: var(--font-1);
    grid-row: 1;
    grid-column: 1;
    font-size: var(--font-M1);
}

.blockText{
    /* color: var(--colorGreyGlass) */
    font-family: var(--font-tertiary);
    max-height: 90%;
    font-size: var(--font-M3)
}

.styleQuote{
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
}

#photoID{
    grid-row: 2 / span 7;
    grid-column: 15 / span 3;
}

#iky-profile{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 4 / span 6;
    grid-column: 12 / span 4;
    border-left: 1px solid var(--colorBone);
}

/* #techStackTitle{
    grid-row: 2/ span 1;
    grid-column: 16 / span 4;
    font-family: var(--font-primary);
    font-size: var(--font-M2);
    text-align: center;
    position: absolute;
    line-height: 0;
}
 */
.techStackShow{
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 10/ span 6;
    grid-column: 15 / span 4;
    transition: all 0.4s ease-in;
    /* border-left: 1px solid var(--colorBone); */
}

#mainTech::after{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 25vh;
    height: 25vh;
    margin: 2.5rem;
    filter: blur(4px);
    left: -10%;
    background-image: url("../../gallery/2dElems/gears.webp");
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin360 15s infinite linear;
}

#mainTech::before{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 18vh;
    height: 18vh;
    left: 55%;
    top: 30%;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/gears.webp");
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin360 8s infinite linear;
}

#addTech{
    opacity: 0;
    animation: transposeBk 20s infinite ease-in-out; 
    position: absolute;
}
#mainTech{
    animation: transpose 20s infinite ease-in-out; 
    position: absolute;
}


#addTech::after{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 20vh;
    height: 20vh;
    bottom: -6vh;
    margin: 9rem 6rem 0rem; 
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/anvil.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

#addTech::before{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 30vh;
    height: 30vh;
    left: -5%;
    top: 2%;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/hammerAnim.webp");
    background-repeat: no-repeat;
    background-size: contain;
    animation: hammerStrike 2.7s infinite ease-in;
}



.gridStats{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    width: 100%;
    height: 100%;
    /* border: solid var(--lightDarkFont) 2px; */
    /* filter: drop-shadow(0px 0px 1px var(--lightDarkFont)); */
/*     backdrop-filter: blur(3px); */
    margin-top: 0.25vh;
    overflow: hidden;
    
}

/* .gridStats>div:nth-child(1) {
    font-family: var(--font-primary);
    font-size: var(--font-M2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2%;
    
    border-bottom: 2px solid var(--lightDarkFont);
    display: flex;
    justify-content: center;
 }    */


.gridStats > div{
    
    font-size: var(--font-M3);
    font-family: var(--font-tertiary);
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 0.5vw;
}

.gridStats > div > img{
    max-width: 5vh;
    max-height: 5vh;
    object-fit: contain;
    overflow: hidden;
    margin-right: 1rem;
    filter: drop-shadow(0px 0px 1px grey)
}

.munitorium{
    font-size: var(--font-M3);
    font-family: var(--font-tertiary);
    font-weight: 200;
    transition: all 0.5s 0.1s ease-in-out;
}

.munitorium>p{
    font-size: var(--font-M2);
    font-family: var(--font-primary);
}

#munitorium-ed{
    grid-row: 9 / span 5;
    grid-column: 2 / span 6;
}

#munitorium-work{
    grid-row: 9 / span 5;
    grid-column: 8 / span 6;
}

#munitorium-profile{
    grid-row: 2 / span 4;
    grid-column: 8 / span 5;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#munitorium-profile>span{
    width: 100%;
    text-align: justify;
}


.leftBlockText1{
    grid-column: 2 / span 5;
    grid-row: 2 / span 7;
    font-weight: 200;
    width: 100%;
    height: 100%;
}


#contactList1{
    grid-row: 3 / span 5;
    grid-column: 3 / span 3;
}

#contactList2{
    grid-row: 3 / span 8;
    grid-column: 6 / span 4;
}

#contactList2>ul{
    display: flex;
    flex-direction: column;
}

#eventsList{
    grid-row: 3 / span 8;
    grid-column: 10 / span 5;
}

.contact-setup{

}

.contact-setup>p{
    font-family: var(--font-primary);
    font-size: var(--font-M2);
}

.style-lineBase{
    border-color: var(--colorMoonGlass)
}

#botBarIntro{
    display: none;
}

:root{
    --font-logo: calc(var(--font-title) *1.618);
    --font-title: clamp(1vh, 8vh, 9vh) !important;
    --font-M1: calc(var(--font-title) /1.618);
    --font-M2: calc(var(--font-title) /1.618/1.618);
    --font-M3: calc(var(--font-title) /1.618/1.618/1.618);
    --font-S1: calc(var(--font-title) /1.618/1.618/1.618/1.618);
    --font-S2: calc(var(--font-title) /1.618/1.618/1.618/1.618/1.618);
}

@media (max-aspect-ratio: 4.5/3){

    .blockText{
        font-size: clamp(var(--font-S1), calc(var(--font-S1)*1.25), var(--font-M3));
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1000px){
    :root{
        --font-logo: calc(var(--font-title) *1.618);
        --font-title: 7.2vh !important;
        --font-M1: calc(var(--font-title) /1.618);
        --font-M2: calc(var(--font-title) /1.618/1.618);
        --font-M3: calc(var(--font-title) /1.618/1.618/1.618);
        --font-S1: calc(var(--font-title) /1.618/1.618/1.618/1.618);
        --font-S2: calc(var(--font-title) /1.618/1.618/1.618/1.618/1.618);
    }
}

@media (orientation:portrait) {
    .pagination{
        overflow: hidden;
    }
    :root{
        --font-title: 7vh !important;
    }
    .hangingText{
        grid-row: 1 / span 1;
        line-height: 15vh;
    }
    .style-tagMap{
        width: 100%;
    }
    #photoID{
        grid-row: 2 / span 5;
        grid-column: 1 / span 6;
    }
    #photoID>img{
        aspect-ratio: 1/1;
        height: 100%;
        grid-row: 1 / span 250 !important;
    }
    #munitorium-profile{
        grid-row: 2 / span 4;
        grid-column: 7 / span 11;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #munitorium-profile>span{
        width: 100%;
        text-align: justify;
    }
    .munitorium{
        font-size: clamp(var(--font-S1), calc(var(--font-S1)*1.25), var(--font-M3));
    }
    #munitorium-ed{
        grid-row: 8 / span 6;
        grid-column: 2 / span 15;
    }
    #munitorium-work{
        grid-row: 14 / span 10;
        grid-column: 2 / span 15;
    }
    .leftBlockText1{
        grid-row: 5 / span 2;
        grid-column: 7 / span 9;
    }
    .style-lineCross{
        opacity: 0;
    }
    .techStackShow{
        display: none;
    }
    .style-decoText{
        overflow: hidden;
        display: flex;
        text-wrap: nowrap;
        color: var(--colorMoonGlass);
    }

    #botBarIntro{
        display: flex;
        position: absolute;
        color: var(--lightDarkFont);
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        height: 100%;
        place-self: center;
        border-top: 2px solid var(--colorBone);
        border-bottom: 2px solid var(--colorBone);
        opacity: 1;
        transition: opacity 1.3s linear; 
        grid-row: 18 / span 1;
        align-items: center;
    }
    
    #botBarIntro > div {
        display: inline-block;
        white-space: nowrap;
        min-width: 200%; 
        animation: scroll-Right 25s linear infinite; 
        transform: translateX(-20%);
    }
    
    #botBarIntro > div > span {
        text-align: center;
        font-size: var(--font-M3);
        overflow-x: hidden;
        width: 9%;
        margin: 0.2% 0.5% 0;
        display: inline-block;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
    }
    
    #botBarIntro > div > :nth-child(11){
        width: 5%
    }
}