:root{ 
    --font-primary: "Bebas Neue", sans-serif;
    --lightDarkBG: rgba(0, 0, 5, 1);
    --lightDarkPrimary: rgb(0, 0, 5);
    --lightDarkSecondary: rgba(20,20,20,0.8);
    --lightDarkTertiary: rgba(35,35,35,0.9);
    --lightDarkFont: white;
    --lightDarkBlur: blur(0.5rem);
    --lightDarkBorder: rgba(250,250,250,0.4);
    --lightDarkShadow: drop-shadow(0 0 5px rgba(220,220,220,0.7))
}

html{
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-image: url(../../gallery/2dElems/earthBackDrop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(25, 4vw);
    grid-template-rows: repeat(25, 4vh);
    overflow: hidden;
    transition: opacity .5s .5s ease-in;
    color: var(--lightDarkFont);
    font-family: var(--font-primary);
}

#bodyCover{
    border-radius: 2rem;
    background-color: var(--lightDarkBG);
    backdrop-filter: blur(0.5rem);
    z-index: -1;
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 98vw;
    height: 98vh;
    transition: opacity 3s ease-in;
}

p{
    gap:0;
    margin: 0;

}

.composite{
    position: absolute;
    width: 100%;
    height: 100%;
}

#DXMInteractive{
    position: relative;
    grid-row: 7;
    grid-column: 13;
    width: 20rem;
    height: 20rem;
    max-width: 90vw;
    max-height: 40vh;
    place-self: center;
    transition: all 0.5s cubic-bezier(0.33, 0, 0.67, 1.5);
    opacity: 0.5;
    transform: translateY(-40vh);
    animation: DXM-float 5s 2s ease-in-out infinite;
}

@keyframes DXM-float{
    0%{
        transform: translateY(0.5vh);
    }

    50%{
        transform: translateY(-1vh);
    }

    100%{
        transform: translateY(0.5vh);
    }

}

#DXMpart4{
    position: absolute;
    width: 5rem;
    height: 5rem;
}

#socketBound{
    position: relative;
    width: 20%;
    height: 20%;
    top: 47%;
    left: 39%;

}

#langCont{
    width: 80vw;
    min-height: 25vh;
    max-height: 20rem;
    display: flex;

    justify-content: space-around;
    grid-row: 16;
    grid-column: 13;
    place-self: center;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    opacity: 0;
}

.flagVis{
    position: relative;
    width: 100vw;
    height: 50px;
    padding-bottom: 5%; 
    min-width: 30px;  
    max-height: 300px; 
    min-height: 25px; 
    margin: 1rem 1% 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer
}

.flagVis:hover{
    border: 2px rgba(220 220 220 0.9) solid;
    filter: drop-shadow(0 0 5px white);
    transition: filter 0.3s;
} 

.wipMark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    /* background: rgb(6, 255, 48);
    mix-blend-mode: multiply;  */
/*     opacity: 0;
    transition: opacity 0.3s ease;  */
    background-image: url(../../gallery/2dElems/wipPNG.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.wipMark:hover::before {
    /* opacity: 1; */
    display: flex;
} 

@media (min-width: 900px){
    .flagVis{
        max-width: 200px;

    }
}

#engLang{
    background-image: url(../../gallery/2dElems/gb.svg);
}

#engLang::before{
    display: none;
}

#krLang{
    background-image: url(../../gallery/2dElems/kr.svg);
}

#frLang{
    background-image: url(../../gallery/2dElems/fr.svg);
}

#jpLang{
    background-image: url(../../gallery/2dElems/jp.svg);
}

#greetingsMsg{
    color: var(--lightDarkFont);
    font-family:  var(--font-primary);
    /* position: absolute; */
    width: 15rem;
    height: 1.3rem;
    font-size: 1.2rem;
    margin-left: 1.5rem;
}

.floatPoint{
    position: relative;
    transition: transform 1s 0.1s ease-in-out;
    left: -30vh;
}

#contactIntro{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    grid-column: 20;
    grid-row: 2;
    width: 25rem;
    font-size: 1.1rem;
    transition: transform 1s 0.1s ease-in-out;
    transform: translateX(40vh);
}

#contactIntro > div {
    margin-right: 0.5rem;
}

#threeJSInfo{
    color: var(--lightDarkFont);
    font-family:  var(--font-primary);
    /* position: absolute; */
    width: 15rem;
    height: 1.3rem;
    font-size: 1.2rem;
    grid-row: 21;
    grid-column: 2;
}

#threeJSInfo > p:nth-child(2){
    font-size: 2.1rem;
    font-family: "Bebas Neue", sans-serif;
}

#threeJSLogo{
    width: 2rem;
    height: 2rem;
    object-position: center;
    position: relative;
}

#greetingsMsg > p:nth-child(2){
    font-size: 3rem;
    position: relative;
    top: -0.5rem;
}

#chooseCont{
    width: 80vw;
    min-height: 30vh;
    max-height: 25rem;
    display: flex;
    grid-row: 20;
    grid-column: 13;
    place-self: center;
    /* background-color: red; */
    justify-content: space-evenly;
    transition: all 0.4s 0.2s ease-in;
    
}

#chooseCont > button{
    max-width: 40%;
    width: 20rem;
    height: 10rem;
    max-height: 20rem;
    margin: 1rem 0.5rem 0.5rem;
    background: none; 
    border: 0.4rem white solid;
    border-radius: 10px;
    flex-wrap: wrap;
    font-size: 2rem;
    color: var(--lightDarkFont);
    font-family: var(--font-primary);
    transition: opacity 0.2s ease-in;
}

#topBarIntro{
    grid-column: 2 / 25;
    display: flex;
    justify-content: space-between;
}

#topBarIntro > div{
    margin-top: 1rem;
}

#botBarIntro{
    display: flex;
    position: relative;
    top: 90%;
    color: var(--lightDarkFont);
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    justify-self: center;
    border-top: 0.2rem solid var(--lightDarkFont);
    border-bottom: 0.2rem solid var(--lightDarkFont);
    opacity: 0;
    transition: opacity 1.3s linear; 
}

#botBarIntro > div {
    display: inline-block;
    white-space: nowrap;
    min-width: 200%; 
    animation: scroll-Right 25s linear infinite; 
    transform: translateX(-20%);
}

#botBarIntro > div > span {
    font-size: 2rem;
    overflow-x: hidden;
    width: 9%;
    margin: 0.2% 0.5% 0;
    display: inline-block;
    text-align: center;
}

#botBarIntro > div > :nth-child(11){
    width: 5%
}

@keyframes scroll-Right{
    0%{
        transform: translateX(-20%);
    }

    100%{
        transform: translateX(-120%)
    }
}

button:hover{
    text-shadow: 0 0 2px black;
    filter: drop-shadow(0 0 5px white);
    transition: filter 0.3s;
    cursor:pointer
}

#sideBarIntro{
    grid-column: 1;
    position: fixed;
    left: -10vh;
    width: 10%;
    max-width: 5rem;
    /* background-color: red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 3vh 1vw;
    transition: transform 1s 0.3s ease-in;
}

#sideBarIntro > img {
    min-width: 20px;
    min-height: 20px;
    max-height: 2rem;
    max-width: 2rem;
    position: relative;
    margin: 0.5rem;
    object-fit: cover;
    cursor:pointer
}

#sideBarIntro > img:hover {
    filter: drop-shadow(0 0 3px white);
    transition: filter 0.2s;
}

/* #handsCont{
    position: relative; 
    grid-row: 17; 
    width: 100vw;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.handsAnim{
    position: relative;
    width: 20rem;
    height: 20rem;
    left: -10%;
    transition: transform 0.5s 0.1s ease-in-out;

}

#handRight{
    left: 10%;
} */

.lineUp{
    background-size: contain;
    width: 50%;
    height: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.35s 0.2s ease-in;
}

.lineLong{
    background-image: url(../../gallery/2dElems/lineLg.svg);
}

.lineShort{
    background-image: url(../../gallery/2dElems/lineSm.svg);
}

.S1{
    animation: floatFX2 4.7s 0.1s ease-in-out infinite;
}

.S2{
    animation: floatFX1 5s ease-in-out infinite;
}

.S3{
    animation: floatFX3 3.5s 0.4s ease-in-out infinite;
}

@keyframes floatFX1 {
    0% {
        transform: translate(-20%, -10%) rotate(-45deg);
    }
    50% {
        transform: translate(5%, 5%) rotate(-45deg);
    }
    100% {
        transform: translate(-20%, -10%) rotate(-45deg);
    }
}

@keyframes floatFX2 {
    0% {
        transform: translate(-5%, -5%) rotate(-25deg);
    }
    50% {
        transform: translate(5%, 5%) rotate(-25deg);
    }
    100% {
        transform: translate(-5%, -5%) rotate(-25deg);
    }
}

@keyframes floatFX3 {
    0% {
        transform: translate(-10%, -10%) rotate(-86deg);
    }
    50% {
        transform: translate(8%, 10%) rotate(-86deg);
    }
    100% {
        transform: translate(-10%, -10%) rotate(-86deg);
    }
}

.S4{
    animation: floatFX4 5s 0.5s ease-in-out infinite;


}

.S5{
    animation: floatFX5 3.5s 0.4s ease-in-out infinite;
}

.S6{
    animation: floatFX6 3.9s ease-in-out infinite;

} 

@keyframes floatFX4 {
    0% {
        transform: translate(5%, -9%) rotate(25deg);
    }
    50% {
        transform: translate(-20%, 10%) rotate(25deg);
    }
    100% {
        transform: translate(5%, -9%) rotate(25deg);
    }
}

@keyframes floatFX5 {
    0% {
        transform: translate(3%, -5%) rotate(45deg);
    }
    50% {
        transform: translate(-7%, 5%) rotate(45deg);
    }
    100% {
        transform: translate(3%, -5%) rotate(45deg);
    }
}

@keyframes floatFX6 {
    0% {
        transform: translate(15%, -8%) rotate(86deg);
    }
    50% {
        transform: translate(-8%, 10%) rotate(86deg);
    }
    100% {
        transform: translate(15%, -8%) rotate(86deg);
    }
}


@media (max-width: 1000px) and (orientation: portrait){
    html, body{
        overflow: hidden;
    }
    #DXMInteractive{
        position: absolute;
        max-width: 50vw;
        max-height: 25vh;
        transform: translateY(-120vh);
        top: 20vh;
    }
    #chooseCont > button{
        font-size: 0.8rem;
        height: 5rem;
    }
    #chooseCont{
        grid-row: 18;
    }
    #DXMpart4{
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
    }
    #sideBarIntro{
        max-width: 100vw;
        width: 100vw;
        height: 4rem;
        grid-row: 22;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #sideBarIntro > img {
        min-width: 4vh;
        min-height: 4vh;
        margin: 0 2rem;
    }
    #botBarIntro{
        display: flex;
        position: relative;
         top: 78%;
    }
    #botBarIntro > div > span {
        font-size: 0.8rem;
    }
    #threeJSInfo{
        display: none;
    }
    #contactIntro{
        margin: 0.3rem 0;
        margin-left: -3.5rem;  
        font-size: 0.7rem;
        grid-column: 18;
        width: 15rem;
        align-items: flex-start;
        justify-self: flex-end;
    }
    #greetingsMsg > p:nth-child(2){
        font-size: 1.5rem;
    }
}

@media (max-width: 950px) and (orientation: landscape){
    html, body{
        overflow: hidden;
    }
    #DXMInteractive{
        position: absolute;
        max-width: 23vw;
        max-height: 32vh;
        transform: translateY(-40vh);
        top: 10vh;
    }
    #chooseCont > button{
        font-size: 0.8rem;
        height: 5rem;
    }
    #chooseCont{
        grid-row: 16;
    }
    #DXMpart4{
        position: absolute;
        width: 7%;
        height: 7%;
    }
    #sideBarIntro{
        max-width: 100vw;
        width: 100vw;
        height: 4rem;
        grid-row: 19;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #sideBarIntro > img {
        width: 3vh;
        height: 3vh;
        margin: 0.5rem 2rem;
    }
    #botBarIntro {
        max-height: 2rem;
    }
    #botBarIntro > div > span {
        font-size: 0.8rem;
    }
    #threeJSInfo{
        display: none;
    }
    .lineShort{
        max-width: 0;
        max-height: 2rem;
        column-count: 1;
        border: 0.2rem white solid;
        border-radius: 1rem;
        margin-top: 2rem;
    }
    .lineLong{
        max-width: 0;
        max-height: 2.3rem;
        column-count: 1;
        border: 0.2rem white solid;
        border-radius: 1rem;
        margin-top: 2rem;
    }
}