



html{
    overflow: hidden;
    pointer-events: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-image: url(../../gallery/2dElems/earthBackDrop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(25, 4vw);
    grid-template-rows: repeat(25, 4vh);
    overflow: hidden;
    transition: opacity .5s .5s ease-in;
    color: var(--lightDarkFont);
    font-family: var(--font-primary);
    position: relative;
    pointer-events: none;
}

#bodyCover{
    border-radius: 0.5rem;
    background-color: var(--lightDarkBG);
    backdrop-filter: blur(15px);
    z-index: -1;
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 95vw;
    height: 95vh;
    transition: opacity 10s ease-in;
    display: grid;
    gap: 0.5vh;
    grid-template-columns: repeat(auto-fill, 2vw);
    grid-template-rows: 1fr repeat(40, 2vh) 1fr;
    pointer-events: all;
}

p{
    gap:0;
    margin: 0;

}

.composite{
    position: absolute;
    width: 100%;
    height: 100%;
}

#DXMInteractive{
    position: relative;
    grid-row: 10;
    grid-column: 18 / -18;
    place-self: center;
    width: 16vw;
    height: 16vw;
    
    min-width: 20vh;
    min-height: 20vh;
    aspect-ratio: 1 / 1;
    /* place-self: center; */
    transition: all 0.5s cubic-bezier(0.33, 0, 0.67, 1.5);
    opacity: 0.5;
    transform: translateY(-40vh);
    animation: DXM-float 5s 2s ease-in-out infinite;
}

#DXMpart4{
    position: absolute;
    width: 4vw;
    height: 4vw;
    min-width: 5vh;
    min-height: 5vh;
    aspect-ratio: 1 / 1;
}

#socketBound{
    position: relative;
    width: 20%;
    height: 20%;
    top: 47%;
    left: 39%;

}

#langCont{
    width: 80vw;
    min-height: 25vh;
    max-height: 20rem;
    display: flex;

    justify-content: space-around;
    grid-row: 16;
    grid-column: 13;
    place-self: center;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    opacity: 0;
    pointer-events: all;
}

.flagVis{
    position: relative;
    width: 100vw;
    height: 50px;
    padding-bottom: 5%; 
    min-width: 30px;  
    max-height: 300px; 
    min-height: 25px; 
    margin: 1rem 1% 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer
}

.flagVis:hover{
    border: 2px rgba(220 220 220 0.9) solid;
    filter: drop-shadow(0 0 5px white);
    transition: filter 0.3s;
} 

.wipMark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    /* background: rgb(6, 255, 48);
    mix-blend-mode: multiply;  */
/*     opacity: 0;
    transition: opacity 0.3s ease;  */
    background-image: url(../../gallery/2dElems/wipPNG.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.wipMark:hover::before {
    /* opacity: 1; */
    display: flex;
} 

@media (min-width: 900px){
    .flagVis{
        max-width: 200px;

    }
}

#engLang{
    background-image: url(../../gallery/2dElems/gb.svg);
}

#engLang::before{
    display: none;
}

#krLang{
    background-image: url(../../gallery/2dElems/kr.svg);
}

#frLang{
    background-image: url(../../gallery/2dElems/fr.svg);
}

#jpLang{
    background-image: url(../../gallery/2dElems/jp.svg);
}

#greetingsMsg{
    color: var(--lightDarkFont);
    font-family:  var(--font-primary);
    /* position: absolute; */
    grid-column: 3 / span 3;
    grid-row: 3 / span 3;
    min-width: 15rem;
    min-height: 1.3rem;
    font-size: var(--font-M2);
    position: relative;
}

.floatPoint{
    position: relative;
    transition: transform 1s 0.1s ease-in-out;
    left: -30vh;
}

#contactIntro{
    display: flex;
    align-items: flex-end;
   flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: var(--font-M3);
    font-family: var(--font-secondary);
    grid-row: 3 / span 5;
    grid-column: -10 / span 9;
    transition: transform 1s 0.1s ease-in-out;
    /* transform: translateX(40vh); */
}

#contactIntro > div {
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
}

#threeJSInfo{
    color: var(--lightDarkFont);
    font-family:  var(--font-primary);
    /* position: absolute; */
    width: 15rem;
    height: 1.3rem;
    font-size: 1.2rem;
    grid-row: 32;
    grid-column: 2 / span 3;
}

#threeJSInfo > p:nth-child(2){
    font-size: 2.1rem;
    font-family: "Bebas Neue", sans-serif;
}

#threeJSLogo{
    width: 2rem;
    height: 2rem;
    object-position: center;
    position: relative;
}

#greetingsMsg > p:nth-child(2){
    font-size: 3rem;
    position: relative;
    top: -0.5rem;
}

#chooseCont{
    width: 80vw;
    min-height: 30vh;
    max-height: 25rem;
    display: flex;
    grid-row: 20;
    grid-column: 13;
    place-self: center;
    /* background-color: red; */
    justify-content: space-evenly;
    transition: all 0.4s 0.2s ease-in;
    pointer-events: all;
}

#chooseCont > button{
    max-width: 40%;
    width: 20rem;
    height: 10rem;
    max-height: 20rem;
    margin: 1rem 0.5rem 0.5rem;
    background: none; 
    border: 0.4rem white solid;
    border-radius: 10px;
    flex-wrap: wrap;
    font-size: 2rem;
    color: var(--lightDarkFont);
    font-family: var(--font-primary);
    transition: opacity 0.2s ease-in;
}


#botBarIntro{
    display: flex;
    position: relative;
    color: var(--lightDarkFont);
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    place-self: center;
    border-top: 3px solid var(--lightDarkFont);
    border-bottom: 3px solid var(--lightDarkFont);
    opacity: 0;
    transition: opacity 1.3s linear; 
    grid-column: 1 / -1;
    grid-row: 36 / span 3;
}

#botBarIntro > div {
    display: inline-block;
    white-space: nowrap;
    min-width: 200%; 
    animation: scroll-Right 25s linear infinite; 
    transform: translateX(-20%);
}

#botBarIntro > div > span {
    font-size: 2rem;
    overflow-x: hidden;
    width: 9%;
    margin: 0.2% 0.5% 0;
    display: inline-block;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

#botBarIntro > div > :nth-child(11){
    width: 5%
}

button:hover{
    text-shadow: 0 0 2px black;
    filter: drop-shadow(0 0 5px white);
    transition: filter 0.3s;
    cursor:pointer
}

#sideBarIntro{
    grid-column: 1 / span 5;
    grid-row: 1 / -1;
    margin: 2vmin;
    position: fixed;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 1s 0.3s ease-in;
}

#sideBarIntro > img {
    min-width: 20px;
    min-height: 20px;
    max-height: 2rem;
    max-width: 2rem;
    position: relative;
    margin: 0.5rem;
    object-fit: cover;
    cursor:pointer
}

#sideBarIntro > img:hover {
    filter: drop-shadow(0 0 3px white);
    transition: filter 0.2s;
}

#bodyBGFX{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    justify-content: space-between;
    display: none;
}

.arrDir{
    width: 100%;
    height: 20%;
    margin: 0;
    opacity: 0.12;
}

.arrowFwrd{
    width: 10%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: scroll-top 3s linear infinite;  
}


.arrowBkwrd{
    width: 10%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: scroll-bot 3s linear infinite;  
}

/* #handsCont{
    position: relative; 
    grid-row: 17; 
    width: 100vw;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.handsAnim{
    position: relative;
    width: 20rem;
    height: 20rem;
    left: -10%;
    transition: transform 0.5s 0.1s ease-in-out;

}

#handRight{
    left: 10%;
} */

.lineUp{
    background-size: contain;
    width: 50%;
    height: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.35s 0.2s ease-in;
}

.lineLong{
    background-image: url(../../gallery/2dElems/lineLg.svg);
}

.lineShort{
    background-image: url(../../gallery/2dElems/lineSm.svg);
}

.S1{
    animation: floatFX2 4.7s 0.1s ease-in-out infinite;
}

.S2{
    animation: floatFX1 5s ease-in-out infinite;
}

.S3{
    animation: floatFX3 3.5s 0.4s ease-in-out infinite;
}

.S4{
    animation: floatFX4 5s 0.5s ease-in-out infinite;


}

.S5{
    animation: floatFX5 3.5s 0.4s ease-in-out infinite;
}

.S6{
    animation: floatFX6 3.9s ease-in-out infinite;

} 


@media (max-width: 1000px) and (orientation: portrait){
    html, body{
        overflow: hidden;
    }
    #DXMInteractive{
/*         position: absolute;
        max-width: 50vw;
        max-height: 25vh;
        transform: translateY(-120vh);
        top: 20vh;
        grid-row: 1;
        grid-column: 1; */
    }
    #chooseCont > button{
        font-size: 0.8rem;
        height: 5rem;
    }
    #chooseCont{
        grid-row: 18;
    }
    #sideBarIntro{
        flex-direction: row;
        justify-content: center;
        grid-row: -10;
        grid-column: 1 / -1;
        margin: 0;
        width: 100%;
    }
    #sideBarIntro > img {
        min-width: 4vh;
        min-height: 4vh;

    }
    #botBarIntro{
        display: flex;
        position: relative;
         top: 78%;
    }
    #botBarIntro > div > span {
        font-size: 0.8rem;
    }
    #threeJSInfo{
        display: none;
    }
    #contactIntro{
       font-size: var(--font-S1);
    }
    #greetingsMsg > p:nth-child(2){
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) and (orientation: landscape){
    html, body{
        overflow: hidden;
    }
    #DXMInteractive{
/*         position: absolute;
        max-width: 23vw;
        max-height: 32vh;
        transform: translateY(-40vh);
        top: 10vh;
        grid-row: 1;
        grid-column: 1; */
    }
    #chooseCont > button{
        font-size: 0.8rem;
        height: 5rem;
    }
    #chooseCont{
        grid-row: 16;
    }
    #sideBarIntro{
        flex-direction: row;
        justify-content: center;
        grid-row: -12;
        grid-column: 1 / -1;
        margin: 0;
        width: 100%;
    }
    #sideBarIntro > img {
        width: 3vh;
        height: 3vh;
        margin: 0.5rem 2rem;
    }
    #botBarIntro {
        max-height: 2rem;
    }
    #botBarIntro > div > span {
        font-size: 0.8rem;
    }
    #threeJSInfo{
        display: none;
    }
    .lineShort{
        max-width: 0;
        max-height: 2rem;
        column-count: 1;
        border: 0.2rem white solid;
        border-radius: 1rem;
        margin-top: 2rem;
    }
    .lineLong{
        max-width: 0;
        max-height: 2.3rem;
        column-count: 1;
        border: 0.2rem white solid;
        border-radius: 1rem;
        margin-top: 2rem;
    }
}