
/* body{
    width: 100vw;   
} */

body{
    background-image: url("../../gallery/2dElems/008c.webp");
    background-position: 100%, bottom;
    background-size: cover;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    overflow-y: hidden; 
    max-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body>span{
    pointer-events: none;
}

button{
    font-family: var(--font-tertiary);
    font-weight: 700;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--colorBone)
}

#pageContainer{
    width: 300vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.pagination{
    backdrop-filter: blur(5px);
    /* background-color: var(--colorMidnight); */
    background: var(--colorVentaBlack);
    padding-top: 2vh;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    display: grid;
    animation: BGTransit 5s 15s forwards linear;
/*     grid-template-rows: repeat(auto-fill, 1%);
    grid-template-columns: repeat(auto-fill, 1%); */
    grid-template-rows: repeat(auto-fill, 5%); /* 100vw / 20 + 2vh */
    gap: calc(0.5vh);
    padding: calc(0.5vh * 2) calc(0.5vh * 4);
    grid-template-columns: repeat(auto-fill, 5%);
    /* CALCULATING TOP GRIDS: top: calc(1vh + 0.5vh + 5.0833vh); 1vh PADDING ALWAYS + 0.5vh PER GAP + 5.0833vh PER GRID */
    /* CALCULATING LEFT GRIDS: left: calc(2vh + 0.5vh +  4.8vh??)*/
}




#photoID{
    width: 100%;
    height: 100%;
    grid-row: 5 / span 10;
    grid-column: 7 / span 4;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    transition: all 1.5s 0.3s ease-in;
}

#photoID>img:first-child{
    grid-row: 1 / span 20;
    grid-column: 1 / span 20;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1.35;
    position: relative;
    z-index: 1
}

#eye3d{
    height: 100%;
    aspect-ratio: 1 / 1;
    grid-row: 6 /span 5;
    grid-column: 14 / span 4; 
    position: relative;
/*     top: 27%;
    left: 28%; */
    /* animation: diagonalTravel 17s ease-in-out infinite; */
}

#ball3d{
    height: 100%;
    aspect-ratio: 1 / 1;
    grid-row: 3 /span 5;
    grid-column: 12 / span 4; 
    position: relative;
/*     top: 17%;
    left: 29%; */

}

#introMsg{
    position: absolute;
    grid-row: 5 / span 10;
    grid-column: 11 /span 5;
    place-self: center; 
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 1;
    width: 100%;
    white-space: nowrap;
/*     left: 50vw;
    top: 40vh; */
}

#introMsg>span:first-child{ /* Greetings */
    /* font-size: calc(9vh/1.618/1.618); */
    font-size: var(--font-M2);
    text-align: justify;
    position: relative;
    height: var(--font-M2);
    transition: all 2.3s ease-in; 
    
    z-index: 5;
}

#introMsg>div{
    font-size: var(--font-logo);
    line-height: 0.9; 
    margin-top: 1vh; 
    height: 100%;
    box-sizing: border-box;
}

#introMsg>div>span:nth-child(2){
    color: red;
}

#introMsg>span:last-child{
    font-size: var(--font-M1);
    text-align: start;
    line-height: 0.9; 
    position: relative;
    height: 100%;
}

.sideText{
    display: inline-block;
    position: relative;
    width: 25rem;
    font-size: var(--font-S1);
    letter-spacing: 0.3vmin;
    white-space: nowrap; 
    transform: rotate(-90deg); 
    transform-origin: top left;
    display: flex;
    margin-left: -0.8vw;
}

.rightMostText{
    position: absolute;
    grid-column: 20;
    display: flex;
    margin-left: -1vh;
}

.rightMostText:nth-of-type(2){
    grid-row: 14;
}

.rightMostText:nth-of-type(3){
    grid-row: 7;
}

.leftBlockText1{
    grid-column: 2 / span 4;
    grid-row: 5 / span 5;
    
}

.leftBlockText2{
    grid-column: 2 / span 4;
    grid-row: 11 /span 5;
   
}

.blockText{
    font-size: 2.1vh;
    text-align: justify;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in;
}

.hangingText{
    position: absolute;
    width: calc(5vw * 2 + 0.5vh * 2);
    height: calc(4.8vh);
    z-index: 5;
    left: calc(2vh);
    top: calc(4.09vh + 2vh);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
    font-size: calc(1.5vw);
    
}

.introSection{
    font-family: var(--font-secondary);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    max-width: 20%;
    
}

.dl-navLungo{   
    top: calc(1vh);
    left: calc(2vh);
    position: fixed;
    /* background-color: var(--lightDarkPrimary); */
    height: 5.0833vh;
    width: calc(5vw * 2 + 0.5vh * 2);
    display: grid;
    grid-template-columns: repeat(17, auto);
    gap: 0.25vh;
    grid-template-rows: repeat(4, 25%);
    transition: transform 0.3s linear;
    border-radius: 5rem;
    z-index: 999
}

.dl-navBtn{
    font-size: var(--font-M3);
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    top: calc(1vh);
    height: 5.0833vh;
    width: 5vw;
    transition: all 0.8s linear;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(15px);
    z-index: 1;
    border-left: 1px solid white;
    overflow: hidden;
}

.dl-navBtn:hover{
    transform:scale3d(1.0, 1.0, 1.2);
    transition-duration: 0.2s;
    border-top: 1px solid white;
}

#btn-contact{
    left: calc(2vh + 5vw * 15 + 0.5vh * 15);
}

#btn-about{
    left: calc(2vh + 5vw * 17 + 0.5vh * 17);
}

#btn-navigation{
    left: calc(2vh + 5vw * 16 + 0.5vh * 16);
}

#btn-hamburger{
    left: calc(2vh + 5vw * 18 + 0.5vh * 19);
    width: 2.5vw;
    border-radius: 1rem;
    background-image: url(../../gallery/2dElems/hamburgerLine.webp);
    background-position: center;
    background-size: contain;
    border: none;
    position: fixed;
    z-index: 999
}

#btn-hamburger:after{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: contain;
    top: 20%;
    background-image: url(../../gallery/2dElems/hamburgerLine.webp);
}

#btn-hamburger:before{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: contain;
    top: -20%;
    background-image: url(../../gallery/2dElems/hamburgerLine.webp);
}



.dl-icon{
    border: none;
    border-radius: 100%;
/*     width: 5vmin;
    height: 5vmin; */
    position: relative;
    grid-row: 2 / span 4;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: 50%;  /* Adjust the subtraction value for the desired size */
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    background-color: var(--colorGreyGlass);
    backdrop-filter: blur(5px);
    border: 1px var(--colorMoonGlass) solid;
}

#ctr-sound{
    grid-column: 1 / span 4;
    background-image: url(../../gallery/2dElems/iconSound1.svg);
}

#ctr-comment{
    grid-column: 5 / span 4;
    background-image: url(../../gallery/2dElems/iconBubble.svg);
}

#ctr-performance{
    grid-column: 9 / span 4;
    background-image: url(../../gallery/2dElems/iconPerf.svg);
}

#ctr-movePageBk{
    grid-column: 13 / span 4;
    background-image: url(../../gallery/2dElems/);
}

#ctr-movePageFr{
    grid-column: 17 / span 4;
    background-image: url(../../gallery/2dElems/);
}


#pf-botNavBar{
    bottom: 0;
}

.barEdge-add{
    position: relative;
    height: 3rem;
    background-color: var(--lightDarkPrimary);
}

.pf-botEdge{
    grid-column: 40 / 60;
    grid-row: 1;
    top: -2rem;
    clip-path: inset(0 0 1rem 0 round 2rem 2rem 0 0);
}

/* .pf-topEdge{
    position: relative;
    grid-row: 4;
    width: calc(5vw * 2 + 0.5vw);
    left: 5vw;
    clip-path: inset(0 0 1rem 0 round 0 0 2rem 2rem);
    background: var(--gradientNightMix);
    backdrop-filter: blur(15px);
} */

.pf-topEdge:nth-of-type(2){
    position: relative;
    grid-column: 81 / 100;   
    clip-path: inset(0 0 1rem 0 round 0 0 0 2rem);
}




/* .sliderSubImg{
     
    position: relative;
    animation: transpose 10s infinite linear;
    width: 40vmin;
    max-width: 70%;
    max-height: 100%;
    margin: 1rem 2rem;
    filter: drop-shadow(0 0 25px rgba(10, 10, 10, 0.7));
    object-position: 100% center;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    top: -100%;
    
} */


.vinyl{
    z-index: 0;
    position: relative;
    top: 0;
    width: 34vmin;
    
    margin: 2.4rem;
    max-width: 70%;
    
    aspect-ratio: 1 / 1;
    transition: top 0.5s linear;
    
}

.projectFocus{
    top: -10vh;
    animation: spin360 5s infinite ease-in-out;
    
}

.style-decoText{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: var(--font-S1);
    font-family: var(--font-tertiary);
    font-weight: 700;
    text-align: justify;
    box-sizing: border-box;
    display: flex;
    
    align-items: flex-end;
    justify-content: flex-end;
}

.style-lineBase{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-in;
    z-index: -1;
}

.style-lineVertDotted{
    border-left: dashed 1px;
    grid-column: 2;
    transform: translateY(100vh);
    animation: lineVertAnim 9.5s 4s ease-in-out forwards; 
}

.style-lineHorDotted{
    border-bottom: dashed 1px;
    grid-row: 7 / span 1;
    grid-column: 1 / span 19;
    transform: translateX(100vw);
    animation: lineHorAnim 9.5s 4s ease-out forwards;
}

.style-lineVertFull{
    border-left: solid 1px var(--colorGreyGlass);
    border-right: solid 1px var(--colorGreyGlass);
    transform: translateY(100vh);
    animation: lineVertAnim 6.1s 2.5s ease-in-out forwards;
}

.style-lineHorFull{
    border-bottom: solid 1px var(--colorGreyGlass);
    border-top: solid 1px var(--colorGreyGlass);
    transform: translateX(100vw);
    animation: lineHorAnim 6.1s 2.5s ease-out forwards;
}



.styleQuote{
    width: 100%;
    height: 100%;
    grid-row: 5 / span 2;
    grid-column: 11;
    transition: all 2.15s cubic-bezier(0.075, 0.82, 0.105, 1);
}



.style-lineVert{
    position: absolute;
    grid-row: 3 / span 15;
    grid-column: 1 / span 1;
    width: 100%;
    height: 100%;
    border-left: 1px solid;
}

.style-lineHor{
    position: absolute;
    grid-row: 2 / span 1;
    grid-column: 7 / span 13;
    width: 100%;
    height: 100%;
    border-top: 1px solid;
}

#DXM-nest{
    position: fixed;
    top: calc(89vh); /* Align with the top of row 17 */
    left: calc(2vh);
    width: calc(5vw + 0.5vh);
    height: calc(5.0833vh*2 + 0.5vh);
    background-size: contain;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.2s ease-in;
    align-self: center;
    box-shadow: inset 0 0 0 4px white; /* Adjust as needed */;
    cursor: pointer;
}

#DXM-sideDec{
    position: absolute;
}

#DXM-smolCont{
   animation: DXM-float 5s infinite ease-in-out;
   background-position: center;
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#DXM-smolMn{
    background-image: url("../../gallery/2dElems/dxmSmolMn.webp");
}

.smolClass{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

#DXM-smol4{
    /* transform: scale3d(0.5, 1, 1); */
    animation: eyeSide 7s infinite ease-in;
}

#DXM-speech{
    width: 400%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    border: 1px solid var(--colorBone);
    left: calc((0.5vh * 3 +  5vw * 3));
}

#DXM-speech-deco{
    position: absolute;
    font-family: var(--font-tertiary);
    font-size: var(--font-S1);
    top: -1.5vh
}

#speechText{
    font-size: 1rem;
    font-family: var(--font-secondary);
    padding: 0.5rem;
    white-space: pre-wrap;
}

#style-stripeCont{
    position: fixed;
    display: flex;
    
    height: calc(5.0833vh*2);
    width: 100%;
    grid-row: 14 / span 2;
    grid-column: 2 / span 2;
    transition: transform 0.8s ease-in;
    grid-row: 17;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    
}
.parallelogram{
	width: 1.5vmin;
    
	transform: skew(-30deg);
	background: white;
    margin: 0.5vmin 0.5vmin;
    height: calc(100%-0.5vmin);
}
.triangularTop{
    width: 0;
    height: 0;
    border-left: calc((5.0833vh*2) * 0.5 / 0.866) solid transparent;  
    border-bottom: calc((5.0833vh*2) * 0.866 / 0.866) solid white;     
    transform: rotate(180deg);          
    margin-right: -2vmin;
}

.triangularBot{
    width: 0;
    height: 0;
    border-left: calc((5.0833vh*2)  * 0.5 / 0.866) solid transparent;  
    border-bottom: calc((5.0833vh*2)  * 0.866 / 0.866) solid white;        
    margin-left: -2vmin;
}

.style-lineCross {
    position: relative;
    width: 200px;
    height: 200px;
    /* margin-left: -0.5vh;
    margin-top: -0.5vh */
}

.style-lineCross::before,
.style-lineCross::after {
    content: '';
    position: absolute;
    background-color: var(--colorPureWhite); 
}

  /* Top-left and bottom-right cross */
.style-lineCross::before {
    width: 10%; /* Extend slightly beyond the container width */
    height: 5px; /* Thickness of the border */
    top: -2.5px; /* Extend slightly above the container */
    left: -5%; /* Extend slightly beyond the left side */
}

.style-lineCross::after {
    width: 5px; /* Thickness of the border */
    height: 10%; /* Extend slightly beyond the container height */
    top: -5%; /* Extend slightly above the container */
    left: -2.5px; /* Extend slightly beyond the left side */
}

/* #pf-sideBar{
    width: calc(100vh/4);
    min-width: 10%;
    height: 100vh;
    position: fixed;
    background-color: var(--colorObsidian);
    right: 0vw;
    top: 0;
    z-index: 2;
    display: grid;
    
    
    gap: 0.5vh;
   
} */


#pf-sideBar {
    width: calc(100vh / 4);
    min-width: 10%;
    height: 100vh;
    position: fixed;
    background-color: var(--colorObsidian);
    right: 0;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-template-rows: repeat(auto-fill, 5%); 
    grid-auto-rows: min-content; 
    gap: 0.5vh; 
    padding-top: 1vh;
    border-left: 1px solid var(--colorMoonGlass);
    transition: all 0.25s ease-in-out;
}

/* #pf-sideBar::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: -1%; 
    width: 10%; 
    height: 100%; 
    backdrop-filter: blur(2px);
    z-index: -1; 
    pointer-events: none; 
} */

#pf-sideBar>*:not(.style-nav-border):not(#sideBar-title):not(#nav-close-button){
    grid-column: 1 / span 10;
    background: none;
    display: flex;
    justify-content: flex-start;
    
}

#pf-sideBar>p{
    font-size: var(--font-M2);
    font-weight: 100;
}

#sideBar-title{
    border-bottom: 1px solid var(--colorBone);
    grid-column: 2 / span 10; 
    width: 100%; 
    font-size: var(--font-M1); 
    text-align: start;
    line-height: var(--font-M1);
    font-family: var(--font-primary);
    font-weight: 600;
}

#pf-sideBar>button{
    font-size: var(--font-S1);
    grid-column: 2 / span 10 !important;
    border-top: 1px dashed var(--colorMoonGlass)
}

#pf-sideBar>img{
    position: absolute;
    grid-column: 1 / span 1;
    height: calc(5vh*0.7);
    width: calc(2.5vw*0.7);
    margin: calc(5vh*0.15) calc(2.5vw*0.15);
    filter: sepia(1) saturate(0.1) brightness(0.3);
    object-position: 50% 50%;
    object-fit: scale-down;
}


.style-nav-border{
    grid-column: 1 / span 10;
    font-size: var(--font-S2);
    font-family: var(--font-secondary);
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    border-top: 1px solid var(--colorBone);
    border-bottom: 1px solid var(--colorMoonGlass);
}

.style-nav-lineHor{
    position: absolute;
    grid-row: 4 / span 7;
    grid-column: 2 / span 1 !important;
    height: 100%;
    width: 100%;
    border-left: 1px solid var(--colorMoonGlass);
    pointer-events: none;
}

.style-nav-borderArrows{
    position: absolute;
    grid-row: -2 / span 1;
    grid-column: 1 / span 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-top: 1px solid var(--colorBone)
    
}

.style-nav-borderArrows>p{
    font-size: var(--font-M3);
    line-height: 5vh;
    
}

.style-nav-borderArrows>span{
    position: absolute;
    
    font-weight: 200;
    font-size: var(--font-S1);
    line-height: calc(5vh*1.618);
    
}

.style-typeBar{
    animation: blinkEffect 2s linear infinite;
}

#nav-close-button{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    position: relative;
    grid-column: 1 / span 1 !important;
    grid-row: 1 / span 1 !important;
    /* width: calc(5vw + 0.5vh);
    height: 5vh; */
    width: calc(100% + 0.5vh);
    height: 100%;
    filter: brightness(1) ;
    background-image: url(../../gallery/2dElems/hamburgerLine.webp);
    transition: all 0.05s linear;
}

#nav-close-button:after{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 0;
    background-image: url(../../gallery/2dElems/hamburgerLine.webp);
    transition: transform 0.2s linear;
}

#nav-close-button:before{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -20%;
    left: 0;
    background-image: url(../../gallery/2dElems/hamburgerLine.webp);
    transition: transform 0.2s linear;
    
}

#nav-close-button:hover{
    transform: rotate(45deg) scale3d(1.3, 1.3, 1.3);
    filter: drop-shadow(0 0 2px var(--colorPureWhite));
}

#nav-close-button:hover:after{
    transform: translateY(-20%);
}

#nav-close-button:hover:before{
    transform: translateY(20%) rotate(90deg);
}

.nav-sidebar-toggle{
    opacity: 0;
    right: -20vw !important;
}

@media (max-width: 1700px){
    
}

@media (max-width: 1250px){
    #style-stripeCont{
        display: none;
    }
    #DXM-nest {
        width: calc(5.0833vh*2 + 0.5vh)
    }
    #btn-hamburger{
        left: 0.5vh;
    }
}

@media (max-width: 1400px){
    .style-decoText{
        font-size: var(--font-S2)
    }
    .dl-navBtn{
        font-size: var(--font-S1)
    }
}

@media (max-width: 1500px){
    
    #techStackShow{
        margin-left: 0.5rem;
    }
    .gridStats{
        max-width: 40vw;
        height: 30vh;
        min-height: 15rem;
        grid-template-columns: repeat(2, 1fr); 
        margin: 0rem;
        padding: 0rem;
        position: absolute;
       
    }
    .gridStats>div{
        font-size: 0.7rem;
    }
    .gridStats>div>p{
        font-size: 1.2rem;
    }
    .sliderTitle{
        font-size: 0.8rem;
        text-align: center;
        filter: drop-shadow(0 0 2px var(--lightDarkPrimary));
    }
    .blockText{
        font-size: var(--font-M3);
        font-family: var(--font-primaryBis);
        font-size: calc(1.4vw);
        
    }

    
    .sliderSubImg{
        display: none;
    }
    #pf-botNavBar{
        transform: translateY(20vh);
    }
    #pf-topNavBar{
        transform: translateY(-20vh);
    }
    .pagination{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        margin: 0;
    }
    #iky-profile{
        max-height: 40vh;
    }
    #photoID{
        height: 100%;
    }
    .introSection{
        font-style: var(--font-secondary);
        font-size: 0.7rem;
    }
}

/* @media only screen and (orientation: portrait) {
    body {
      transform: rotate(90deg);
      transform-origin: left top;
      width: 100vh; 
      height: 100vw; 
      overflow: hidden; 
    }
  }
 */
/* 
@media (max-width: 1000px) and (orientation: portrait){
    
    
    body{
        overflow-y: scroll;
    }
    #iky-profile{
        flex-wrap: wrap;
    }
    .introSection, #photoID{
        max-width: 50%;
        max-height: 30vh;
    }

    #techStackShow{
        margin-left: 0.1rem;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    .gridStats{
        grid-template-columns: 100%;
        min-width: 80%;
        margin: 0.2rem;
    }
    .gridStats>div:nth-child(1){
        display: none;
    }
    .sliderImg, .sliderTitle{
        margin: 20px;
    }
    .sliderCont{
        width: 30%;
    }
    
}
 */
#gallerySlider1[data-device='tablet'],
#gallerySlider1[data-device='mobile'] {
    display: none;
    
}

.vinyl[data-device='tablet'],
.vinyl[data-device='mobile'] {
    display: none;
}


.landscape-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    background-color: var(--lightDarkTertiary);
    color: var(--lightDarkFont);
    z-index: 1000;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5vh;
    grid-template-columns: repeat(auto-fill, 5%);
    grid-template-rows: repeat(auto-fill, 5%);
    font-size: var(--font-M1);
}

.landscape-message>img{
    grid-row: 7 / span 2;
    grid-column: 3 / span 5;
    height: 100%;
    aspect-ratio: 1 / 1.2;
    position: relative;
}

.landscape-message>p:nth-child(2){
    grid-row: 9 / span 1;
    grid-column: 6 / span 7;
    font-size: var(--font-title);
    font-family: var(--font-poster);
    font-weight: 900;
    text-align: center;
}

.landscape-message>div{
    grid-row: 3 / span 1;
    grid-column: 7 / span 5;
    position: relative;
    display: flex;
    justify-content: center;
}

.landscape-message>p:nth-child(3){
    grid-row: 11 / span 1;
    grid-column: 2 / span 15;
    font-size: var(--font-M2);
}

.landscape-message>p:nth-child(4){
    grid-row: 12 / span 1;
    grid-column: 2 / span 15;
    font-size: var(--font-M2);
}

#ls-turn{
    width: 30vh;
    height: 30vh;
    position: absolute;
    animation: phoneTurn 1.5s 0.5s infinite linear;
}

#ls-phone{
    margin-top: 7vh;
    width: 20vh;
    height: 20vh;
    position: absolute;
    animation: phoneTurn 1.5s 0.5s infinite linear;
}


@media only screen and (orientation: portrait) {
.landscape-message {
    display: flex;
}
.content {
    display: none;
}
}