

.pagination{
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    background-color: var(--lightDarkTertiary);
    width: 95vw;
    height: 90vh;
    margin: 5vh 2.5vw;
}

#iky-profile{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%
}

#photoID{
    width: 22rem;
    height: 22rem;
    max-width: 30%;
}

.introSection{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    max-width: 20%;
}

.dl-navLungo{
    width: 100%;
    position: fixed;
    background-color: var(--lightDarkPrimary);
    height: 2.2rem;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(3, 33%);
    z-index: 999
}

#pf-botNavBar{
    bottom: 0;
}

.barEdge-add{
    position: relative;
    height: 3rem;
    background-color: var(--lightDarkPrimary);
}

.pf-botEdge{
    grid-column: 40 / 60;
    grid-row: 1;
    top: -2rem;
    clip-path: inset(0 0 1rem 0 round 2rem 2rem 0 0);
}

.pf-topEdge{
    grid-column: 1 / 20;
    grid-row: 4;
    clip-path: inset(0 0 1rem 0 round 0 0 2rem 0);
}

.pf-topEdge:nth-of-type(2){
    position: relative;
    grid-column: 81 / 100;   
    clip-path: inset(0 0 1rem 0 round 0 0 0 2rem);
}


.autoSliderCont{
    display: flex;
    justify-content: center;
    width: 200%;
    height: 30%;
    /* background-color: rgba(25, 25, 25, 0.3); */
    position: absolute;
    transform: translate(0%, -50%); 
    /* -- user-select: none;  Prevent image highlighting -- */
    user-select: none;
    bottom: -10vh;
    overflow: hidden;
    /* left: -50%; */
}

#gallerySliderExtra{
    display: flex;
    justify-content: center;
    width: 200%;
    height: 20rem;
    position: absolute;
    transform: translate(0%, -50%); 
    user-select: none;
    bottom: 0vh;
}

.sliderCont{
    height: 100%;
    margin: 0.2rem 0;
    width: 12%;
    /* background-color: red; */
}

.sliderImg{
    width: 40vmin;
    max-width: 70%;
    /* height: 56vmin; */
    max-height: 100%;
    margin: 1rem 2rem;
    filter: drop-shadow(0 0 25px rgba(10, 10, 10, 0.7));
    border: 2px rgba(250, 250, 250, 0.7) solid;
    object-position: 100% center;
    object-fit: cover;
    user-select: none;
    aspect-ratio: 1 / 1;
}

.sliderImg:hover{
    filter: drop-shadow(0 0 30px white);
}

.sliderTitle{
    width: 40vmin; 
    max-width: 70%;
    z-index: 1;
    height: 20%;
    position: relative;
    margin: 0 2rem;
    border: 2px solid rgba(250, 250, 250, 0.2);
    margin-top: -5%;
    top: 21%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgba(200, 200, 200, 0.4);
    backdrop-filter: blur(15px);
    
}

.sliderRecord{
    position: relative;
    font-size: 1.5rem;
    top: -30%;
    width: 30vmin;
    margin-left: 5%;
    background-color: orange;
    filter: drop-shadow(0 0 2px black);
    border-radius: 0 5rem 5rem 0;
    white-space: nowrap;
}

.sliderRecord > p{
    padding: 0 1rem;
}

.sliderRecord p:nth-child(2){
    font-size: 1rem;
    color: black;
}

.sliderRecord p:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 52%;
    left: 1rem; /* or right: 0; to align to the right */
    width: 80%; /* Length of the border */
    border-bottom: 2px solid black; /* Adjust the border thickness and color */
}

.imgWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* .sliderSubImg{
     
    position: relative;
    animation: transpose 10s infinite linear;
    width: 40vmin;
    max-width: 70%;
    max-height: 100%;
    margin: 1rem 2rem;
    filter: drop-shadow(0 0 25px rgba(10, 10, 10, 0.7));
    object-position: 100% center;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    top: -100%;
    
} */

.sliderSubImg{
    position: absolute;
    animation: transpose 10s infinite linear;
    top: 0;
    width: 40vmin;
    max-width: 70%;
    max-height: 100%;
    margin: 1rem 2rem;
    filter: drop-shadow(0 0 25px rgba(10, 10, 10, 0.7));
    object-position: 100% center;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    top: 0;
    left: 0;
    display: none; /* ⚠️ */
}

.vinyl{
    z-index: 0;
    position: relative;
    top: 0;
    width: 34vmin;
    
    margin: 2.4rem;
    max-width: 70%;
    
    aspect-ratio: 1 / 1;
    transition: top 0.5s linear;
    
}

.projectFocus{
    top: -10vh;
    animation: spin360 5s infinite ease-in-out;
    
}

#techStackShow{
    width: 55%;
    margin-left: 1rem;
    display: flex;
    margin-top: 1.1rem;
    overflow: hidden;
}

#mainTech::after{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 12rem;
    height: 12rem;
    margin: 2.5rem;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/gears.webp");
    background-size: contain;
    animation: spin360 15s infinite linear;
}

#mainTech::before{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 6rem;
    height: 6rem;
    margin: 12rem;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/gears.webp");
    background-size: contain;
    animation: spin360 8s infinite linear;
}


#addTech::after{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 12rem;
    height: 12rem;
    margin: 9rem 6rem 0rem; 
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/anvil.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

#addTech::before{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 15rem;
    height: 15rem;
    margin: 0rem;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/hammerAnim.webp");
    background-repeat: no-repeat;
    background-size: contain;
    animation: hammerStrike 2.7s infinite ease-in;
}


.gridStats{
    display: grid;
    grid-template-columns: repeat(2, 10rem); /* Create 2 equal columns */
    grid-template-rows: auto; /* Adjust row height automatically */
    gap: 0.2rem; /* Adjust gap between items if needed */
    width: 60%;
    max-width: 22rem;
    margin: 1rem;
    max-height: 110%;
    min-height: 18rem;
    border: solid var(--lightDarkFont) 2px;
    /* filter: drop-shadow(0px 0px 1px var(--lightDarkFont)); */
    backdrop-filter: blur(3px);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.gridStats>div:nth-child(1) {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2%;
    border-bottom: 2px solid var(--lightDarkFont);
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    
}

.gridStats > div{
    
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.gridStats > div > img{
    max-width: 2.5rem;
    max-height: 2.5rem;
    object-fit: contain;
    overflow: hidden;
    margin-right: 1rem;
    filter: drop-shadow(0px 0px 1px grey)
}

@keyframes spin360{
    0%{
        transform: rotate(0deg);
        
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes hammerStrike{
    0%, 40%{
        transform: rotate(0deg);
    }

    40%, 52%{
        transform: rotate(-95deg);
    }

    52%, 64%{
        transform: rotate(-112deg);
    }

    68%{
        transform: rotate(0deg);
    }
}

@keyframes transpose{
    0%, 25%{
        opacity: 1
    }

    30%, 60%{
        opacity: 0
    }

    65%, 100%{
        opacity: 1
    }
}

@keyframes transposeBk{
    0%, 25%{
        opacity: 0
    }

    30%, 60%{
        opacity: 1
    }

    65%, 100%{
        opacity: 0
    }
}



@media (max-width: 1500px){
    #techStackShow{
        margin-left: 0.5rem;
    }
    .gridStats{
        max-width: 40vw;
        grid-template-columns: repeat(2, 1fr); 
        margin: 0rem;
        padding: 0rem;
        position: absolute;
    }
    .sliderTitle{
        font-size: 0.8rem;
        text-align: center;
        filter: drop-shadow(0 0 2px var(--lightDarkPrimary));
    }

    #addTech{
        opacity: 0;
        animation: transposeBk 20s infinite ease-in-out
    }
    #mainTech{
        animation: transpose 20s infinite ease-in-out
    }
    .sliderSubImg{
        display: none;
    }
}

/* @media only screen and (orientation: portrait) {
    body {
      transform: rotate(90deg);
      transform-origin: left top;
      width: 100vh; 
      height: 100vw; 
      overflow: hidden; 
    }
  }
 */
/* 
@media (max-width: 1000px) and (orientation: portrait){
    *{
        font-size: 0.9rem;
        font-family: var(--font-secondary);
    }
    
    body{
        overflow-y: scroll;
    }
    #iky-profile{
        flex-wrap: wrap;
    }
    .introSection, #photoID{
        max-width: 50%;
        max-height: 30vh;
    }

    #techStackShow{
        margin-left: 0.1rem;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    .gridStats{
        grid-template-columns: 100%;
        min-width: 80%;
        margin: 0.2rem;
    }
    .gridStats>div:nth-child(1){
        display: none;
    }
    .sliderImg, .sliderTitle{
        margin: 20px;
    }
    .sliderCont{
        width: 30%;
    }
    
}
 */
#gallerySlider1[data-device='tablet'],
#gallerySlider1[data-device='mobile'] {
    display: none;
    
}

.vinyl[data-device='tablet'],
.vinyl[data-device='mobile'] {
    display: none;
}


.landscape-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    background-color: var(--lightDarkTertiary);
    color: var(--lightDarkFont);
    z-index: 1000;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.landscape-message>img{
    width: 12vh;
    height: 10vh;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 5%
}

.landscape-message>p:nth-child(2){
    font-size: 4rem;
    margin: 2rem;
}

.landscape-message>div{
    position: relative;
    top: -20vh;
    display: flex;
    justify-content: center;
    
}

#ls-turn{
    width: 30vh;
    height: 30vh;
    position: absolute;
    animation: phoneTurn 1.5s infinite linear;
}

#ls-phone{
    margin-top: 7vh;
    width: 20vh;
    height: 20vh;
    position: absolute;
    animation: phoneTurn 1.5s infinite linear;
}

@keyframes phoneTurn{
    0%{
        opacity: 0
    }
    20%{
        opacity: 1
    }
    60%{
        transform: rotate(90deg)
    }

    90%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        transform: rotate(90deg)
    }
}

@media only screen and (orientation: portrait) {
.landscape-message {
    display: flex;
}
.content {
    display: none;
}
}