



#brut1{
    position: absolute;
    height: 100%;
    width: 100%;
    
    grid-row: 15 / span 4;
    grid-column: 2 / span 2;
    overflow: hidden;
}


#brut1pic{
   /*  background-size:cover;
    position: absolute;
    background-position: 0% 0%;
    background-image: url("../../gallery/2dElems/brutalistShort.webp");
    left: 0;
    right: 0;
    width: 100%;
    height: 99%; */
    background-image: url("../../gallery/2dElems/konkreta1.webp");
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 50%, bottom;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Ensure it covers the container */
    z-index: -1; /* Optional: Ensure it stays behind other content */
}

#brut1:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../../gallery/2dElems/brutalistShortBis.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#iky-profile{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 4 / span 6;
    grid-column: 12 / span 4;
    border-left: 1px solid var(--colorBone);
}


.techStackShow{
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 4 / span 6;
    grid-column: 11 / span 4;
    /* border-left: 1px solid var(--colorBone); */
}

#mainTech::after{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 25vh;
    height: 25vh;
    margin: 2.5rem;
    filter: blur(4px);
    left: -10%;
    background-image: url("../../gallery/2dElems/gears.webp");
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin360 15s infinite linear;
}

#mainTech::before{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 18vh;
    height: 18vh;
    left: 55%;
    top: 30%;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/gears.webp");
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin360 8s infinite linear;
}

#addTech{
/*     opacity: 0;
    animation: transposeBk 20s infinite ease-in-out; */
    position: absolute;
}
#mainTech{
 /*    animation: transpose 20s infinite ease-in-out; */
    position: absolute;
}


#addTech::after{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 20vh;
    height: 20vh;
    bottom: -6vh;
    margin: 9rem 6rem 0rem; 
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/anvil.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

#addTech::before{
    content: "";
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    width: 30vh;
    height: 30vh;
    left: -5%;
    top: 2%;
    filter: blur(4px);
    background-image: url("../../gallery/2dElems/hammerAnim.webp");
    background-repeat: no-repeat;
    background-size: contain;
    animation: hammerStrike 2.7s infinite ease-in;
}


.gridStats{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    width: 100%;
    height: 100%;
    /* border: solid var(--lightDarkFont) 2px; */
    /* filter: drop-shadow(0px 0px 1px var(--lightDarkFont)); */
/*     backdrop-filter: blur(3px); */
    margin-top: 0.25vh;
    overflow: hidden;
    
}

.gridStats>div:nth-child(1) {
    font-family: var(--font-primary);
    font-size: var(--font-M2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2%;
    
    border-bottom: 2px solid var(--lightDarkFont);
    display: flex;
    justify-content: center;
    
}

.gridStats > div{
    
    font-size: var(--font-M3);
    font-family: var(--font-tertiary);
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 0.5vw;
}

.gridStats > div > img{
    max-width: 5vh;
    max-height: 5vh;
    object-fit: contain;
    overflow: hidden;
    margin-right: 1rem;
    filter: drop-shadow(0px 0px 1px grey)
}

#p2-title{
    grid-column: 3 / span 5;
    grid-row: 2 / span 1;
    /* border-left: 1px solid var(--colorBone) */
}

#p2-title>p:first-child{
   font-size: var(--font-M1);
   text-align: start;
   display: inline
}

#p2-title>p:nth-child(2){
    background-color: blue;
    line-height: 0;
    font-size: var(--font-M3);
}

#p2-dlPrintCV{
    grid-column: 9 / span 2;
    grid-row: 15 / span 2 ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

#p2-dlPrintCV>img{
    margin-top: 0.5vh;
    object-fit: contain;
    object-position: 100%;
    width: 100%;
    height: 100%;
}

#p2-dlPrintCV>button{
    margin-top: 0.25vw;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border-bottom: 1px solid var(--colorMoonGlass);
}

#p2-dlPrintCV>button>img{
    margin-left: 0.5vmin;
    object-fit: contain;
    object-position: bottom;
    width: 2.5vmin;
}

.munitorium>p:first-child{
    font-size: var(--font-M2);
    font-family: var(--font-primary);
}

.munitorium>ul{
    font-size: var(--font-M3);
    font-weight: 300;
    font-family: var(--font-secondary);
    margin: 0;
}



.sideTextMassive{
    display: inline-block;
    position: relative;
    font-size: var(--font-title);
    color: var(--colorGreyGlass);
    letter-spacing: 0.3vmin;
    white-space: nowrap; 
    transform: rotate(-90deg); 
    transform-origin: top left;
    display: flex;
    margin-left: -5vw;
}



@media (max-width: 1100px){
    #p2-title{
        grid-column: 3 / span 8;
        grid-row: 2 / span 1;
        /* border-left: 1px solid var(--colorBone) */
    }
    .munitorium>ul{
        font-size: var(--font-S1);
    }
}




